@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --factor: 8px;
    --size-half: calc(var(--factor) / 2);
    --size-1: var(--factor);
    --size-2: calc(var(--factor) * 2);
    --size-3: calc(var(--factor) * 3);
    --size-4: calc(var(--factor) * 4);
    --size-5: calc(var(--factor) * 5);
    --size-6: calc(var(--factor) * 6);
    --size-7: calc(var(--factor) * 7);
    --size-8: calc(var(--factor) * 8);
    --size-9: calc(var(--factor) * 9);
    --size-10: calc(var(--factor) * 10);
    --size-11: calc(var(--factor) * 11);
    --size-12: calc(var(--factor) * 12);

    --font-size-base: 16px;
    --font-size-small: 14px;

    --rose-white: #FFF8F8;
    --vanilla-ice: #F2DDE2;
    --shilo: #E8B8C4;
    --temptress: #400114;

}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    font-size: var(--font-size-base);
}

.main-header {
    margin: var(--size-1) var(--size-2);
    padding: var(--size-1) var(--size-3);
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--size-1);

    background: var(--rose-white);
    border-radius: var(--size-4);
}

@media (min-width: 768px) {
    .main-header {
        margin: var(--size-5) var(--size-10);
        flex-direction: row;
        gap: var(--size-2);
    }
}

.main-header-logo {
    width: 100px;
}

.main-header-actions {
    display: flex;
    align-items: center;
    gap: var(--size-2);
}

@media (min-width: 768px) {
    .main-header-actions {
        margin-left: auto;
    }
}

.main-header-actions-search {
    background: #FFFFFF;
    border: 1px solid var(--vanilla-ice);
    border-radius: var(--size-4);
    padding: var(--size-1) var(--size-2);
    display: flex;
    align-items: center;
    gap: var(--size-half);
}

.main-header-actions-search:focus-within {
    border-color: var(--shilo);
}

.main-header-actions-search input[type="search"] {
    width: 100%;
    appearance: none;
    border: none;
    outline: none !important;
}

.main-header-actions-links {
    flex: 1;
    display: flex;
    gap: var(--size-1);
    font-size: var(--font-size-small);
}

@media (min-width: 768px) {
    .main-header-actions-links {
        gap: var(--size-2);
    }
}

.main-header-actions-links a {
    color: var(--temptress);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--size-half);
}

.main-header-actions-links a:hover,
.main-header-actions-links a:focus {
    text-decoration: underline;
}