@import url('sass/styles.scss');

/* Main navigation */
.main-navigation {
    margin: var(--size-1) var(--size-4);
    padding: var(--size-1) var(--size-3);

    display: flex;
    gap: var(--size-4);

    background: var(--vanilla-ice);
    border-radius: var(--size-4);

    white-space: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    .main-navigation {
        justify-content: center;
        margin: var(--size-1) auto;
        width: fit-content;
    }
}

.main-navigation>a {
    text-decoration: none;
    color: var(--temptress);
}

/* Main content */
.main-content {
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: var(--size-2);
    gap: var(--size-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content-carousel {
    display: flex;
    gap: var(--size-4);
    padding: var(--size-2);
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-content-carousel-item {
    gap: var(--size-2);
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-content-carousel-item-image {
    width: calc(var(--size-1) * 30);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-content-section-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    text-align: center;
}

/* Main footer */
.main-footer {
    background: var(--vanilla-ice);
    margin: var(--size-4) 0 0;
}

.main-footer-content {
    display: flex;
    align-items: center;
    gap: var(--size-half);
}

.main-footer-credits {
    display: flex;
    align-items: center;
    max-width: var(--max-page-width);
    min-width: var(--min-page-width);
    margin: 0 auto;
    padding: var(--size-4);
}

.main-footer-content {
    flex-direction: column;
}

.main-footer-credits {
    justify-content: space-between;
}

.main-footer-links {
    display: flex;
    gap: var(--size-1);
}

.main-footer-links>a {
    color: var(--temptress);
}
