@import url('sass/styles.scss');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Main navigation */
.main-navigation {
    margin: var(--size-1) var(--size-4);
    padding: var(--size-1) var(--size-3);

    display: flex;
    gap: var(--size-4);

    background: var(--vanilla-ice);
    border-radius: var(--size-4);

    white-space: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    .main-navigation {
        justify-content: center;
        margin: var(--size-1) auto;
        width: fit-content;
    }
}

.main-navigation>a {
    text-decoration: none;
    color: var(--temptress);
}

/* Main content */
.main-content {
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: var(--size-2);
    gap: var(--size-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content-carousel {
    display: flex;
    gap: var(--size-4);
    padding: var(--size-2);
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-content-carousel-item {
    gap: var(--size-2);
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-content-carousel-item-image {
    border-radius: var(--size-2);
    width: calc(var(--size-1) * 26);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-content-section-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    text-align: center;
}

/* Main footer */
.main-footer {
    background: var(--vanilla-ice);
    padding: var(--size-4) 0;
    margin: var(--size-4) 0 0;
}

.main-footer-content {
    display: flex;
    align-items: center;
    gap: var(--size-half);
}

.main-footer-credits {
    display: flex;
    align-items: center;
    max-width: var(--max-page-width);
    min-width: var(--min-page-width);
    margin: 0 auto;
    padding: var(--size-4);
}

.main-footer-content {
    flex-direction: column;
}

.main-footer-credits {
    justify-content: space-between;
}

.main-footer-links {
    display: flex;
    gap: var(--size-1);
}

.main-footer-links>a {
    color: var(--temptress);
}

.contact-form {
    display: flex;
    flex-direction: row;
    gap: var(--size-4);
    align-items: center;
}

.contact-form form {
    margin-top: var(--size-4);
}

.contact-form label {
    display: block;
    align-self: flex-start;
    font-size: var(--font-size-base);
    margin-bottom: var(--size-1);
    color: var(--temptress);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: var(--size-1);
    margin-bottom: var(--size-3);
    border: 1px solid var(--shilo);
    border-radius: var(--size-1);
    font-size: var(--font-size-small);
    background: white;
}

.contact-form textarea {
    resize: vertical;
    min-height: var(--size-6);
    max-height: calc(var(--size-1) * 24);
}

.contact-form button {
    align-self: flex-start;
    padding: var(--size-1) var(--size-2);
    background-color: var(--cerise-red);
    color: var(--rose-white);
    border: none;
    border-radius: var(--size-1);
    cursor: pointer;
    font-size: var(--font-size-base);
}

.contact-form button:hover {
    background-color: var(--temptress);
}

.contact-form-image {
    display: none;
    max-width: 400px;
    width: 100%;
}

@media (min-width: 768px) {
    .contact-form-image {
        display: block;
    }
}

.main-content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-4);
    padding: var(--size-4);
    overflow-x: scroll;
}

.main-content-grid-item {
    width: calc(var(--size-1)* 30);
    text-align: center;
}

.main-content-grid-item-image {
    width: 100%;
    border-radius: var(--size-2);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    margin-bottom: var(--size-1);
}