@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --factor: 8px;
    --size-half: calc(var(--factor) / 2);
    --size-1: var(--factor);
    --size-2: calc(var(--factor) * 2);
    --size-3: calc(var(--factor) * 3);
    --size-4: calc(var(--factor) * 4);
    --size-5: calc(var(--factor) * 5);
    --size-6: calc(var(--factor) * 6);
    --size-7: calc(var(--factor) * 7);
    --size-8: calc(var(--factor) * 8);
    --size-9: calc(var(--factor) * 9);
    --size-10: calc(var(--factor) * 10);
    --size-11: calc(var(--factor) * 11);
    --size-12: calc(var(--factor) * 12);

    --font-size-base: 16px;
    --font-size-small: 14px;

    --max-page-width: 1280px;
    --min-page-width: 320px;

    --rose-white: #FFF8F8;
    --vanilla-ice: #F2DDE2;
    --shilo: #E8B8C4;
    --temptress: #400114;
    --cerise-red: #DD2458;

}

body {
    min-width: var(--min-page-width);
    margin: 0 auto;
    font-family: Lato, sans-serif;
    font-size: var(--font-size-base);
}